* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-color: #f3e4f0;
}
.Nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}
.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #000;
    padding: 20px 50px;
    opacity: 0.8;
}
.logo a {
    text-decoration: none;
    font-family: 'Coiny';
    font-size: 30px;
    font-weight: bold;
    margin-left: 60px;
    margin: 0px auto;
    color: #fff; 
}
.Nav-links {
    flex-grow: 1;
}
.Nav-links ul {
    padding: 0px 50px;
    list-style: none;
    display: flex;
}
.Nav-links li {
    margin-left: 30px;
    line-height: 2;
}
.Nav-links a {
    font-family: 'League Spartan';
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.Nav-links .Home {
    color: #23FCFF;
}
.Nav-links a:hover {
    color: #23FCFF;
}
.menu-icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    padding-right: 10px;
    color: white;
}
.search-container {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
}
#search-icon {
    font-size: 24px;
    color: #d1d1d1;
    cursor: pointer;
    transition: color 0.3s;
    transition: color 0.3s;
    position: relative;
    z-index: 1; 
}
#search-icon:hover {
    color: #ffffff;
}
.search-box {
    width: 0px;
    opacity: 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    position: absolute;
    left: 30px;
    transition: width 0.3s ease, opacity 0.3s ease;
    background-color: white;
}
.search-box.active {
    width: 300px;
    opacity: 1;
}
@media (max-width: 768px) {
    .Nav-links .menu {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #333;
      position: absolute;
      top: 50px;
      left: 0;
    }
    .Nav-links .menu.active {
      display: flex;
    }
    .menu-icon {
      display: block;
    }
  }


  
.slide {
    position: relative;
    display: inline-block;
}
.slide img {
    width: 100%;
    height: auto;
}
.slide h1 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    font-weight: 900;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.slide p {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
    color: white;
    font-size: 23px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: 0;
}
.content {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 30px;
}
.title {
    font-family: 'League Spartan';
    font-size: 48px;
    font-weight: bold;
    color: #333;
}
.paragraph {
    font-family: 'League Spartan';
    font-size: 1.3rem;
    line-height: 1.6;
    padding-left: 40px;
    margin-bottom: 20px;
    color: #000;
    text-align: justify;
}
.paragraph li {
    font-family: 'League Spartan';
    font-size: 22px;
    line-height: 1.6;
    padding-left: 40px;
    color: #000;
    text-align: justify;
    list-style: none;
}
.subtitle {
    font-family: 'Coiny';
    font-size: 36px;
    font-weight: bold;
    color: #eb8c8c;
    margin-bottom: 40px;
}
.image {
    float: right;
    margin-left: 50px;
    border-radius: 10px;
    overflow: hidden;
    top: 20px;
}
.image img {
    float: right;
    display: flex;
    border-radius: 20px;
}
.button {
    display: inline-block;
    margin: 20px 60px;
    padding: 10px 40px;
    font-size: 20px;
    color: #333;
    border: 1px solid  #333;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.button:hover {
    border: 1px solid  #ce3232;
    
}
@media (max-width: 768px) {
    .text_1 h1 {
        font-size: 2rem;
    }

    .text_2 p {
        font-size: 1rem;
    }

    .title {
        font-size: 2.5rem;
    }

    .paragraph {
        font-size: 0.9rem;
    }
    .paragraph li {
        font-size: 0.9rem;
    }
    .image img {
        width: 600px;
        height: 550px;
    }
}

@media (max-width: 480px) {
    .text_1 h1 {
        font-size: 1.5rem;
    }

    .text_2 p {
        font-size: 0.9rem;
    }

    .title {
        font-size: 1.2rem;
    }

    .paragraph {
        font-size: 0.8rem;
    }

    .button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

.commitment_body {
    background-color: #f9f4f8;
    padding: 50px 20px;
}

.commitment-section {
    max-width: 1400px;
    margin: auto;
    text-align: center;
    
}

.commitment-section h1 {
    font-size: 2em;
    color: #0a1a3f;
    margin-bottom: 20px;
}

.commitment-section p {
    font-size: 20px;
    color: #666;
    margin:auto;
    width: 80%;
    align-items: center;
}

.commitment-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.commitment-item {
    width: 30%;
    text-align: center;
    padding: 10px;
}

.commitment-item i {
    font-size: 50px;
    color: #333;
    margin-bottom: 15px;
}

.commitment-item h3 {
    font-size: 1.2em;
    color: #0a1a3f;
    margin: 10px 0;
}

.commitment-item p {
    font-size: 16px;
    color: #666;
}
@media (max-width: 768px) {
    .commitment-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .text1 {
        font-size: 50px;
    }

    .text2 {
        font-size: 20px;
    }

    
}

.products_container {
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.products {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.subject h2 {
    font-family: 'Coiny';
    font-weight: bold;
    text-align: center;
    margin: 20px;
    font-size: 1.8em;
    color: #bf5a84;
}

.products_list {
    display: flex;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px auto;
    width: 100%;
}


.product_items {
    flex: 0 0 auto;
    width: calc(100% / 4 - 20px);
    text-align: justify;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product_items:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.product_items img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product_items .info a {
    font-family: 'League Spartan';
    font-size: 18px;
    font-weight: bold;
    color: #272727;
    text-decoration: none;
}



.product_items .price {
    text-align: left;
    margin-top: 20px;
    font-size: 1.2em;
    color: #ff6600;
    font-weight: bold;
}
.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 40px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.scroll-btn:hover {
    opacity: 1;
}

.scroll-btn.left {
    left: -20px;
}

.scroll-btn.right {
    right: 20px;
}

@media (max-width: 1024px) {
    .products_list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .products_list {
        grid-template-columns: repeat(2, 1fr); 
    }
    .product_items {
        width: calc(100% / 2 - 20px);
    }
}

@media (max-width: 480px) {
    .products_list {
        grid-template-columns: 1fr; 
    }
    .subject h2 {
        font-size: 1.4em;
    }
}

.News {
    width: 100%;
    height:400px;

}
news-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.news-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.news-intro p{
    color: #8a2121;
}
.news-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.news-link a{
    color:#0D5FF6;
    text-decoration: none;
    font-weight: bold;
}

.footer {
    background-color: #252323;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.about p{
    margin-top: 20px;
    font-style: 'League Spartan';
    font-size: 15px;
    line-height: 1.5;
    max-width: 300px;
    color: #acabab;
}

.links h2, .contact h2 {
    margin-bottom: 20px;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links ul li {
    margin-bottom: 10px;
    
}

.links ul li a {
    color: #b1aeae;
    text-decoration: none;
    font-size: 16px;
}

.links ul li a:hover {
    
    text-decoration: underline;
}

.contact .social-icons {
    display: flex;
    gap: 10px;
}

.social-icon {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #979797;
    font-size: 20px;
    transition: 0.3s ease;
}

.social-icon:hover {
    font-size: 30px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about, .links, .contact {
        margin-bottom: 20px;
    }
}