* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navbar {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }

  .navbar-brand {
    font-family: "Coiny", cursive;
    font-size: 30px;
  }

  .nav-link:hover {
    color: #23fcff !important;
  }

  .nav-link.active {
    color: #23fcff !important;
  }
.dropdown-menu {
    background-color: #343a40;
    border: none;
    transition: all 0.3s ease;
  }
  .dropdown-menu a {
    color: white;
  }
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    transform: translateY(0);
    opacity: 1;
  }
  .dropdown-menu {
    display: none;
    transform: translateY(-10px);
    opacity: 0;
  }
  .dropdown-item:hover {
    background-color: #495057;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  

.slide {
    position: relative;
    display: inline-block;
}
.slide img {
    width: 100%;
    height: auto;
}
.slide h1 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    font-weight: 900;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.slide p {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
    color: white;
    font-size: 23px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: 0;
}
.carousel-item {
    width: 100vw;  
    position: relative;
}
.carousel-item img {
    height: 900px;
    object-fit: cover;
  }

  .carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .banner-text {
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  .carousel-caption p {
    font-size: 1.25rem;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
 .gallery-img {
    transition: transform 0.3s ease;
    filter: brightness(0.7);
}
    
.gallery-img:hover {
    transform: scale(1.02);
    filter: brightness(0.8);
}
.content {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 30px;
}
.title {
    font-family: 'League Spartan';
    font-size: 48px;
    font-weight: bold;
    color: #333;
}
.paragraph {
    font-family: 'League Spartan';
    font-size: 1.3rem;
    line-height: 1.6;
    padding-left: 40px;
    margin-bottom: 20px;
    color: #000;
    text-align: justify;
}
.paragraph li {
    font-family: 'League Spartan';
    font-size: 22px;
    line-height: 1.6;
    padding-left: 40px;
    color: #000;
    text-align: justify;
    list-style: none;
}
.subtitle {
    font-family: 'Coiny';
    font-size: 36px;
    font-weight: bold;
    color: #eb8c8c;
    margin-bottom: 40px;
}
.image {
    float: right;
    margin-left: 50px;
    border-radius: 10px;
    overflow: hidden;
    top: 20px;
}
.image img {
    float: right;
    display: flex;
    border-radius: 20px;
}
.button {
    display: inline-block;
    margin: 20px 60px;
    padding: 10px 40px;
    font-size: 20px;
    color: #333;
    border: 1px solid  #333;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.button:hover {
    border: 1px solid  #ce3232;
    
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about, .links, .contact {
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    .text_1 h1 {
        font-size: 2rem;
    }

    .text_2 p {
        font-size: 1rem;
    }

    .title {
        font-size: 2.5rem;
    }

    .paragraph {
        font-size: 0.9rem;
    }
    .paragraph li {
        font-size: 0.9rem;
    }
    .image img {
        width: 600px;
        height: 550px;
    }
}

@media (max-width: 480px) {
    .text_1 h1 {
        font-size: 1.5rem;
    }

    .text_2 p {
        font-size: 0.9rem;
    }

    .title {
        font-size: 1.2rem;
    }

    .paragraph {
        font-size: 0.8rem;
    }

    .button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

.commitment_body {
    background-color: #eeebed;
    padding: 50px 20px;
}

.commitment-section {
    max-width: 1400px;
    margin: auto;
    text-align: center;
    
}

.commitment-section h1 {
    font-size: 2em;
    color: #0a1a3f;
    margin-bottom: 20px;
}

.commitment-section p {
    font-size: 20px;
    color: #666;
    margin:auto;
    width: 80%;
    align-items: center;
}

.commitment-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.commitment-item {
    width: 30%;
    text-align: center;
    padding: 10px;
}

.commitment-item i {
    font-size: 50px;
    color: #333;
    margin-bottom: 15px;
}

.commitment-item h3 {
    font-size: 1.2em;
    color: #0a1a3f;
    margin: 10px 0;
}

.commitment-item p {
    font-size: 16px;
    color: #666;
}
@media (max-width: 768px) {
    .commitment-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .text1 {
        font-size: 50px;
    }

    .text2 {
        font-size: 20px;
    }

    
}

.subject h2 {
    font-family: 'Coiny';
    font-weight: bold;
    text-align: center;
    margin: 20px;
    font-size: 1.8em;
    color: #bf5a84;
}

.card-title {
    color: black;
    font-size: 16px;
    font-family: 'League Spartan', sans-serif;
}
.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
    color: black;
    font-size: 16px;
    font-family: 'League Spartan', sans-serif;
}

.card img {
    transition: transform 0.3s;
}



.News {
    width: 100%;
    height:auto;
}

.news-title {
    font-family: 'Coiny';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.news-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.news-intro p{
    color: #0a0404;
}
.news-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.news-link a{
    color:#0D5FF6;
    font-weight: bold;
}
.new-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
.news-item img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 5px;
}

.news-item h4 {
    margin-top: 15px;
    font-size: 1.25rem;
    font-weight: bold;
}

.news-item .content {
    margin-top: 10px;
    color: #6c757d;
    font-size: 0.9rem;
}
.news-item a {
    text-decoration: none;
}

.news-item:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1024px) {
    .news-item { flex: 1 1 calc(50% - 40px); } 
} 
@media (max-width: 768px) { 
    .news-item { flex: 1 1 calc(100% - 40px);  }
}

.footer {
    background-color: #252323;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.about p{
    margin-top: 20px;
    font-style: 'League Spartan';
    font-size: 15px;
    line-height: 1.5;
    max-width: 300px;
    color: #acabab;
}

.links h2, .contact h2 {
    margin-bottom: 20px;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links ul li {
    margin-bottom: 10px;
    
}

.links ul li a {
    color: #b1aeae;
    text-decoration: none;
    font-size: 16px;
}

.links ul li a:hover {
    
    text-decoration: underline;
}

.contact .social-icons {
    display: flex;
    gap: 10px;
}

.social-icon {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #979797;
    font-size: 20px;
    transition: 0.3s ease;
}

.social-icon:hover {
    font-size: 30px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about, .links, .contact {
        margin-bottom: 20px;
    }
}