* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
    
.navbar {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }

  .navbar-brand {
    font-family: "Coiny", cursive;
    font-size: 30px;
  }

  .nav-link:hover {
    color: #23fcff !important;
  }

  .nav-link.active {
    color: #23fcff !important;
  }
  .dropdown-menu {
    background-color: #343a40;
    border: none;
    transition: all 0.3s ease;
  }
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    transform: translateY(0);
    opacity: 1;
  }
  .dropdown-menu {
    display: none;
    transform: translateY(-10px);
    opacity: 0;
  }
  .dropdown-menu a {
    color: white;
  }
  .dropdown-item:hover {
    background-color: #495057;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  * {
    box-sizing: border-box;
  }
  

  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }



.News {
    padding: 30px;
}

.news-title h1 {
    text-align: center;
    
}

.news-intro, .news-link {
    text-align: center;
    margin: 10px 0;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.news-item {
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
    max-width: 400px; /* Giới hạn chiều rộng tối đa */
    max-height: 29%;
    margin-top: 20px;
}

.news-item img {
    width: 100%;
    height: auto;
}

/* Đáp ứng thiết bị di động */
@media (max-width: 1024px) {
    .news-item {
        flex: 1 1 calc(50% - 40px); /* 2 ô trong một hàng */
    }
}

@media (max-width: 768px) {
    .news-item {
        flex: 1 1 calc(100% - 40px); /* 1 ô trong một hàng */
    }
}
